<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Welcome to your family profile!</h1>
		<h2>Go to Account Settings to change</h2>
	</div>

	 <div class="panel-body">
	</div>
</div> 
<h3>Mother:
<br>
<%= current_user.mother%> 
<br>
<br>
<h3>Father:
<br>
<%= current_user.father%> 
<br>
<br>